.App {
  text-align: center;
}


/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------Header---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/


/*holds navbar, matches background for large screens*/
.navbar-container {
  background-color:white !important;
  width:100%;
  height:56px;
  z-index:5;
  position:fixed;
  top:0px;
}

#white-nav {
  background-color:white !important;
}

nav {
  position:fixed !important;
  top:0px;
  width:100%;
  max-width:900px;
  z-index:5;
}

.navbar-brand a{
  color:#ff6700 !important;
}

.navbar-brand a:hover {
  color:lightblue !important;
}

.nav-item {
  padding-left:10px;
  padding-right:10px;
}

.nav-item a {
  color: #ff6700 !important;
}

ul {
  padding:10px;
}

li a {
  color:#ff6700 !important;
  line-height:30px;
}

a:link {
  text-decoration: none !important;
}

li a:hover {
  color:lightblue !important;
}

.dropdown .nav-link {
  padding:0px;
  padding-left:20px;
}

.no-padding-nav {
  padding:0px !important;
  padding-left:20px !important;
}

.padded-nav {
  padding-left:20px;
}

.navbar-nav {
  text-align:right;
}

@media only screen and (min-width: 900px) {
  nav {
    width:900px;
    left:50%;
    margin-left:-450px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------Home-----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.main {
  margin-top:48px;
  background-image: url(./home-back.jpg);
  height:500px;
  overflow:hidden; 
  width:100%;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .main {
    background-attachment: scroll;
  }
}

.statement h1 {
  display:block;
  text-align:center;
  font-size:calc(20px + 2vw);
  margin:auto;
  font-weight:400;
  letter-spacing:2px;
  margin-top:-30px;
  margin-left:auto;
  margin-right:auto;
  max-width:800px;
  color:white;
}

.main .btn-holder {
  margin-top:40px;
  margin-left:auto;
  margin-right:auto;
  width:fit-content;
}

/*holds the form*/
.form-container {
  width:90%;
  max-width:800px;
  margin-top:30px;
}

/*is the bootstrap Form*/
#url-form {
  position:relative;
}

/*is the bootstrap Input inside the Form*/
#url-input {
  width:100%;
  height:50px;  
  border-radius: .25rem;
  font-size:14px;
  position:relative;
}

/*is the bootstrap Button inside the Form*/
#inline-button {
  height:50px;
  border-radius: 0 .25rem .25rem 0;
  background-color:#ff6700;
  border-color:#ff6700;
  font-size:14px;
  position:absolute;
  top:0;
  right:0;
  z-index:4;
}

/*conditionally rendered result box container for shortened URL*/
.result-container {
  margin-top:100px;
  align-self:center;
  position:absolute;
  text-align:center;
  max-width:95%;
}

@media only screen and (max-width: 438px) {
  /*adjust margin for when statement takes 2 lines*/
  .result-container {
    margin-top:113px;
  }
}

/*conditionally rendered result box for shortened URL*/
.result-text {
 /* background-color: rgba(0, 123, 255, 0.3);*/
  text-align:center;
  color:white;
  margin-bottom:5px;
  padding:5px;
  border-radius:10px;
  letter-spacing:2px;
  font-size:18px;
  font-weight:500;
}

.popover {
  z-index:4 !important;
}


/*-----------------------------------------description----------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.description {
  text-align:center;
  max-width:95% !important;
  margin-left:auto;
  margin-right:auto;
}

.description h2 {
  margin-top:40px;
  font-weight:700;
  letter-spacing: 2px;
  color:#2a2e30;
}

.desc-p {
  margin:20px auto;
  max-width:700px;
  padding:10px;
  color:#707a80;
}

.perk-cards-container {
  margin-bottom:40px;
  max-width:900px !important;
}

.card-h3 {
  font-size:30px;
  margin-top:10px !important;
  padding-top:10px;
  padding-bottom:10px;
  color:#2a2e30;
}

.card-p {
  margin-top:10px;
  color:#707a80;
}

/*-----------------------------------------frame----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.frame-frame {
  width:95%;
  max-width:700px;
  margin:90px auto;
}

.frame-div {/*
  text-align: center;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 
  padding-top: 0px;
  max-width:700px;
  max-height:394px;
  display:border-box;
  margin-left:auto;
  margin-right:auto;*/
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.frame-div iframe {/*
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.btn-holder {
  margin-top:90px;
  margin-left:auto;
  margin-right:auto;
  width:fit-content;
}

.orange-button {
  background-color:#ff6700 !important;
  border-color:#ff6700 !important;
}


/*-----------------------------------------ending---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.ending {
  background-image: url(./ending-back.jpg);
  height:fit-content;
  min-height:200px;
  overflow:hidden; 
  width:100%;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  color:white;
  text-align:center;
  padding:60px 0px 60px 0px;
}

.quantifiable {
  margin-left:auto;
  margin-right:auto;
}

.quantifiable h2 {
  font-size:50px;
  margin:auto;
  letter-spacing:2px;
  padding-top:40px;
}

.ending-h3 {  
  font-size:25px;
  letter-spacing:2px;
  font-weight:600;
  margin-top:10px;
  padding-bottom:40px !important;
  margin-bottom:0px;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------footer---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
.footer {
  height:250px;
}

.social-media {
  margin:30px auto;
  width:fit-content;
}

.social-icons {
  margin: 20px;
}

.footer p {
  text-align:center;
  margin-bottom:50px;
  color:#ff6700;
}

.up-container {
  width:fit-content;
  margin:30px auto;
}

.back-top {
 color:#ff6700;
}

.back-top:hover {
  cursor:pointer;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------about----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.heading {
  text-align:center;  
  margin-top:48px;
  background-image: url(./about-back.jpg);
  height:500px;
  overflow:hidden; 
  width:100%;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
}


.logistics .heading h1 {  
  letter-spacing:3px;
  font-weight:700;
  font-size:45px;
}

.logistics .key-solution {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width:900px;
  font-size:19px;
}

.logistics .perks {
  margin-top:50px;
  max-width:95%;
  margin-left:auto;
  margin-right:auto;
}

.logistics .perks h2 {
  padding-top:40px;
  text-align:center;
  max-width:900px;
  margin:auto;
  font-size:35px;
  color: #2a2e30;
}

.logistics .perks-desc {
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  max-width:900px;
  margin:auto;
  font-size:20px;
  letter-spacing:1px;  
  margin-bottom:20px;
  color:#707a80;
}

.logistics .card-h3 {
  font-size:24px;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  color: #2a2e30;
}

.perks .perks-icon {
  width:100%;
  margin:auto;
}

.perks .card-p {
  text-align:center;
  color:#707a80;
}



.frame-frame {
  width:95%;
  max-width:700px;
  margin:50px auto;
}

.frame-div {/*
  text-align: center;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 
  padding-top: 0px;
  max-width:700px;
  max-height:394px;
  display:border-box;
  margin-left:auto;
  margin-right:auto;*/
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.frame-div iframe {/*
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.driver {
  margin-top:100px;
  margin-bottom:100px;
  margin-left:auto;
  margin-right:auto;
  max-width:90%;
}

.logistics .driver-h2 {
  color: #707a80;
  text-align:left;
  margin:auto;
  font-size:50px;
  max-width:95%;
  max-width:900px;
}

.driver-right {
  text-align:center !important;
  margin-bottom:50px !important;
}

.logistics .cool-ul {
  color:#2a2e30;
  text-decoration: underline orange;
}

.logistics .driver-p {
  color:#707a80;
  max-width:95%;
  max-width:900px;
  margin:auto;
  text-size:18px;
  letter-spacing:1px;
  margin-top:20px;
}


.logistics .frame-frame {
  margin-bottom:100px;
}

.logistics .ending {
  background-image: url(./about-end.jpg);
}


/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------media queries >767px-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 767px) {
  ul {
    background-color:#f8f9fa;
    padding:0px;
  }

  li a{
    color:black !important;
  }
}